<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<!--/*@thymesVar id="league" type="pl.krasnoludkolo.ebet2.league.api.LeagueDetailsDTO"*/-->
<div th:each="league : ${leagueList}">
    <div>
        <table class="fixed">
            <col width="80px"/>
            <col width="30px"/>
            <tr>
                <td th:text="${league.name}">name</td>
                <td><a th:href="@{/league/{id}/ (id=${league.leagueUUID})}" th:method="get" th:text="info"
                       role="button"></a></td>
            </tr>
        </table>
    </div>
</div>
<br/>
</body>
</html>