<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<!--/*@thymesVar id="newBet" type="pl.krasnoludkolo.ebet2.bet.api.NewBetDTO"*/-->
<form th:object="${newBet}" method="POST">
    <table>
        <tr>
            <td>Username</td>
            <td><textarea rows="1" name="title" th:field="*{username}" autofocus="autofocus"
                          required="required"></textarea></td>
            <td th:if="${#fields.hasErrors('username')}" th:error="*{username}">Not empty</td>
            <td>
                <select th:field="*{betTyp}">
                    <option value="HOST_WON">1</option>
                    <option value="GUEST_WON">2</option>
                    <option value="DRAW">X</option>
                </select>

            </td>
            >
        </tr>
    </table>
    <br/>
    <input type="submit" value="Dodaj"/>
</form>
<br/>
</body>
</html>